$white: #fff;
$black: #000;

$lightpurple: #F0E7F6;
$lightpurple50: #F3EFF9;
$purple: #635FC7;
$gray: #818FA3;
$gray30: #F8F8F8;

$lightblue: #F5F7FD;
$red: #EF7575;
$orange: #F0AE75;
$green: #75F078;

$deepGray: #828FA3;